<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production" >
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>The Layout Header</h1>
        </header>
        <p>
            This is the default layout.
        </p>
        <div>
            @RenderSection("PageNavigation", required: false)
        </div>
        <div>
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>
                <div>A demonstration of layouts.</div>
                @DateTime.Now.Year - GMP-SSE-554
            </p>
        </footer>
    </div>
</body>
</html>
