@{
    ViewBag.Title = "Statue";
}

<h2>@ViewBag.Title</h2>
<div>
    <img src="~/Images/DSC_0052.JPG" width="600" height="350"/>
</div>
<form action="/SubmitData/ChoosePhoto">
    <fieldset>
        <button type="submit">Return</button>
    </fieldset>
</form>