@{
    ViewBag.Title = "Section Layout";
}
<h2>Section Layout</h2>
Main content here.
@section PageNavigation
{
    <h2>Navigation Defined From the View:</h2>
    <ul>
        <li>Nav1</li>
        <li>Nav2</li>
    </ul>
}
